@{
    ViewBag.Title = "Contact";
}
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="contact" class="division"></a>
            <h2>Contact me</h2>
        </div>
        <div class="span4">
            <h3>Send a detailed message and please allow 24 hours for a response.</h3>
        </div>
        <div class="span8">
            <div class="row contact">
                <div class="span4">
                    <p>Contact information for issues or other inqueries.</p>
                    <address>
                        1801 Glen Ridge Dr.<br>
                        Kernersville, NC 27284<br>
                        <abbr title="Phone">P:</abbr> (336) 414-3716<br>
                        <abbr title="Email">E:</abbr> <a href="mailto:mail@website.com">ebwaked87@gmail.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="http://ewaked-resume.azurewebsites.net">ewaked-resume.azurewebsites.net</a><br>
                    </address>
                </div><!-- span4 -->
                <div class="span4">
                    <form class="form" id="ajax-contact-form" action="@Url.Action("Contact", "Home")" method="post" name="ContactForm">
                        <input type="text" name="Name" class="span4" placeholder="Name" required="">
                        <input type="text" name="Subject" class="span4" placeholder="Subject" required="">
                        <input type="text" class="span4" name="Email" placeholder="Email" required="">
                        <textarea name="Message" placeholder="Message" rows="8" class="span4"></textarea>
                        <button type="submit" class="btn btn-submit bg-color">SUBMIT</button><div class="loading"></div>
                    </form>
                    <div class="results"></div>
                </div><!-- span4 -->
            </div><!-- contact -->
        </div><!-- span8 -->
    </div><!-- row -->

</section>