@{
    ViewBag.Title = "Home Page";
}

    @*@if (!User.IsInRole("Administrator") || User.IsInRole("Developer") || User.IsInRole("Project Manager") || User.IsInRole("Submitter"))
    {
        Response.Redirect("/Account/login");
    }*@

<div class="jumbotron">
    <h1>Bug Boss</h1>
    <h4>Don't be pestered by problems - find solutions</h4>
</div>

<div class="row">
    
</div>