@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <hgroup>
                    <h1 class="text-danger">Locked out.</h1>
                    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>