@model Bug_Boss.Models.Project

@{
    ViewBag.Title = "Project Details";
}



<div class="container">
    <div class="row">
        <h2>Project Details</h2>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>


        </dl>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
    {
        <p>
            @Html.ActionLink("Project User Assignments", "Edit", new { id = Model.Id }) 
            <br />
        </p>
    }
}
        <br />
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
</div>

