



            @*<h4>Blog Search -</h4>

            <div class="input-group">

                @using (Html.BeginForm("Index", "Posts", FormMethod.Post, null))

                {

                    @*<input type="text" class="form-control" name="searchStr">

                        <span class="input-group-btn">

                            <button class="btn btn-default" type="button" name="Submit">

                                <span class="glyphicon glyphicon-search"></span>

                            </button>

                        </span>

                    <input class="form-control col-lg-12" type="text" name="searchStr" />

                }

            </div>*@