@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
