@{
    ViewBag.Title = "Getting Started";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
            <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2>Getting a Budget Started</h2>
                        <ol>
                            <li>
                                Budgets are a necessary evil.
                                <br />
                                They're the only practical way to get a grip on your spending - and to make sure your money is being used the way you want it to be used.
                            </li>
                            <li>
                                Creating a budget generally requires three steps.
                                <br />
                                <ul>
                                    <li>
                                        - Identify how you're spending money now.
                                    </li>
                                    <li>
                                        - Evaluate your current spending and set goals that take into account your long-term financial objectives.
                                    </li>
                                    <li>
                                        - Track your spending to make sure it stays within those guidelines.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Use software to save grief.
                                <br />
                                If you use a personal-finance program such as Quicken or Microsoft Money, the built-in budget-making tools can create your budget for you.
                            </li>
                            <li>
                                Don't drive yourself nuts.
                                <br />
                                One drawback of monitoring your spending by computer is that it encourages overzealous attention to detail. Once you determine which categories of spending can and should be cut (or expanded), concentrate on those categories and worry less about other aspects of your spending.
                            </li>
                            <li>
                                Watch out for cash leakage.
                                <br />
                                If withdrawals from the ATM machine evaporate from your pocket without apparent explanation, it's time to keep better records. In general, if you find yourself returning to the ATM more than once a week or so, you need to examine where that cash is going.
                            </li>
                            <li>
                                Spending beyond your limits is dangerous.
                                <br />
                                But if you do, you've got plenty of company. Government figures show that many households with total income of $50,000 or less are spending more than they bring in. This doesn't make you an automatic candidate for bankruptcy - but it's definitely a sign you need to make some serious spending cuts.
                            </li>
                            <li>
                                Beware of luxuries dressed up as necessities.
                                <br />
                                If your income doesn't cover your costs, then some of your spending is probably for luxuries - even if you've been considering them to be filling a real need.
                            </li>
                            <li>
                                Tithe yourself.
                                <br />
                                Aim to spend no more than 90% of your income. That way, you'll have the other 10% left to save for your big-picture items.
                            </li>
                            <li>
                                Don't count on windfalls.
                                <br />
                                When projecting the amount of money you can live on, don't include dollars that you can't be sure you'll receive, such as year-end bonuses, tax refunds or investment gains.
                            </li>
                            <li>
                                Beware of spending creep.
                            </li>
                        </ol>
                        <p class="pull-right"><a class="btn btn-default" href="/Home/Index">Home &raquo;</a></p>
                        <footer>
                            <a href="http://money.cnn.com/magazines/moneymag/money101/lesson2/">Source: CNN Money </a>
                        </footer>
                    </div>
                <div class="col-md-3"></div>
             </div>
            </div>
        </div>
    </div>
