@{
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like the Budget Boss?</strong> Tell your friends! <a href="http://ewaked-budgetBoss.azurewebsites.net" class="alert-link">Budget Boss</a> is free for them too!
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../Content/Images/BB%20logo.jpg" alt="Budget Boss Logo">
                        </div>
                        <div class="col-md-6">
                            <h1 class="page-header">Budget Boss</h1>
                            <p class="lead">Be the boss of your budget!</p>
                            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Don't click here »</a></p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h2>Getting started</h2>
                        <p>
                            The Budget Boss gives you a powerful, tools to build dynamic budgets that
                            enables a clean separation of concerns for your household and gives you full control
                            over financial decisions for enjoyable living.
                        </p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn More &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Get more Monies</h2>
                        <p>The Budget Boss is a free application that makes it easy to add, remove, and update transactions in accounts with many tools available to your household.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Control More &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Household Overview</h2>
                        <p>You can easily find transactions within your household and we offer the right mix of features and price for your needs.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">DON'T Spend more &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>