@{
    ViewBag.Title = "Contact";
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Contact me
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="contact" class="division"></a>
            <h2>Contact me</h2>
        </div>
        <div class="span4">
            <h3>Send a message and get to know me</h3>
        </div>
        <div class="span8">
            <div class="row contact">
                <div class="span4">
                    <p>Below is my contact information for my home address, cell phone number and link to my website. Message me to find out more and I will be delighted to answer any questions.</p>
                    <address>
                        1801 Glen Ridge Dr.<br>
                        Kernersville, NC 27284<br>
                        <abbr title="Phone">P:</abbr> (336) 414-3716<br>
                        <abbr title="Email">E:</abbr> <a href="mailto:mail@website.com">ebwaked87@gmail.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="http://ewaked-resume.azurewebsites.net">ewaked-resume.azurewebsites.net</a><br>
                    </address>
                </div><!-- span4 -->
                <div class="span4">
                    <form class="form" id="ajax-contact-form" action="~/Content/sendmail.php">
                        <input type="text" name="name" class="span4" placeholder="Name" required="">
                        <input type="text" class="span4" name="email" placeholder="Email" required="">
                        <textarea name="message" placeholder="Message" rows="8" class="span4"></textarea>
                        <button type="submit" class="btn btn-submit bg-color">SUBMIT</button><div class="loading"></div>
                    </form>
                    <div class="results"></div>
                </div><!-- span4 -->
            </div><!-- contact -->
        </div><!-- span8 -->
    </div><!-- row -->

</section>