@{
    ViewBag.Title = "Education" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Education
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="education" class="division"></a><h2>Education</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>.Net Coding</h3>
            <h4>Coder Foundry</h4>
            <h5>2015</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>At the Coder Foundry .Net Coding Bootcamp, I began my training with my January Cohort and since then, I
             have accumulated a wealth of knowledge that has allowed me to progress as coder. I have been taught 
            cutting edge, high-demand technologies while developeing the skills necessary to adapt and respond to an 
            ever-changing and rapidly evolving career.</p>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Financial Services Certified Professional</h3>
            <h4>The American College</h4>
            <h5>2014</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>I began my subsidized training for the Financial Services Certified professional designation at the 
            beginning of 2014. The Financial Service Sales Professional is a modernized designation similar to the
            well known Life Underwriting Training Council Fellow designation but with more flexibility to learn modernized technologies that adapt 
            to an evolving industry.</p>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Bachelor of Science in Plant Biology</h3>
            <h4>North Carolina State University</h4>
            <h5>2008-2015</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>My time at North Carolina State Universiy was spent my time learning the biological processes of plants
             and other organisms as well as their interactions with each other. I was an intergral part in the research of 
            honeybee pollination experiments and my responsibilities included the collection of data and the testing of
            it for the sake of the experiment.</p>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Bachelor of Science in Biology</h3>
            <h4>University of North Carolina at Pembroke</h4>
            <h5>2006 - 2008</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>At the University of North Carolina at Pembroke, I grew as a student and an athlete. I was privileged
            to have been a part of their first football team in 50 years as well as actively participating in the Big 
            Brother program and The Fellowship of Christian Athletes. My educational curriculum consisted of establishing
            a basic university education, music education, and guitar courses.</p>
        </div><!-- span8 -->
    </div><!-- row -->

</section>

<hr> 