@{
    ViewBag.Title = "Education" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Education
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="education" class="division"></a><h2>Education</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>Ba. in Computer Science</h3>
            <h4>Temporibus University</h4>
            <h5>2003 - 2006</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Autem quibusdam</h3>
            <h4>Something School</h4>
            <h5>2000 - 2003</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        </div><!-- span8 -->
    </div><!-- row -->

</section>

<hr> 