@{
    ViewBag.Title = "Experience" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Work experience
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="experience" class="division"></a><h2>Work experience</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>Financial Service Representative<br />MetLife Premier Client Group</h3>
            <h4>Greensboro, NC</h4>
            <h5>2012-2015</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>I was a junior partner in the firm in Greensboro, NC as I worked under my father who is a 25 year veteran in the industry. I have been around the business my whole life and have been a part of helping him with marketing since before I joined him in 2012. My training was very rigorous and took a lot of work on my end to learn what was needed of me in a short amount of time. My first year with the company I was sucessful in meeting my required amount and in my second year I was able to beat my production by one hundred and twent-five percent. After some inner searching I knew I would enjoy a career in web developement more and so I chose to join The Coder Foundry.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Manager <br /> Citgo</h3>
            <h4>Winston-Salem,NC</h4>
            <h5>2012</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Assistant Manager <br />Neomonde's Bakery</h3>
            <h4>Raleigh, NC</h4>
            <h5>2010-2012</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Line Chef<br />DJ's Restaurant</h3>
            <h4>High Point, NC</h4>
            <h5>May 2010 - Aug 2010</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Manager <br />Discount Auto Supply</h3>
            <h4>Winston-Salem, NC</h4>
            <h5>May 2010 - Aug 2010</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Line Chef<br />Pita Delite</h3>
            <h4>High Point, NC</h4>
            <h5>May 2009 - Aug 2009</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Bouncer/ Bar-back <br />It'z Entertainment City</h3>
            <h4>Fayetteville, NC</h4>
            <h5>May 2006 - Aug 2006</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->
</section>



