@{
    ViewBag.Title = "Edward Waked" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Work experience
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="experience" class="division"></a><h2>Work experience</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>Financial Service Representative<br />MetLife Premier Client Group</h3>
            <h4>Greensboro, NC</h4>
            <h5>2012-2015</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4">
            <h3>Manager <br /> Citgo</h3>
            <h4>Winston-Salem,NC</h4>
            <h5>2012</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->

    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="experience" class="division"></a><h2>Work experience</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>Assistant Manager <br />Neomonde's Bakery</h3>
            <h4>Raleigh, NC</h4>
            <h5>2010-2012</h5>
        </div><!-- span4 -->
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->
</section>



<hr>