@{
    ViewBag.Title = "Edward Waked" ;
}


<!--
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::: Hero information, where it displays profile picture and personal information
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->
<div class="hero">
    <div class="container">
        <div class="hero-unit me-details">
            <div class="row-fluid">
                <div class="span2">
                    <div class="avatar">
                        <img width="130" height="128" src="~/images/eddie.jpg" alt="my resume photo" />
                    </div>
                </div><!-- span2 -->
                <div class="span6">
                    <h1>Edward Waked</h1>
                    <h2>Full Stack Web Developer</h2>
                    <ul class="social">
                        <li class="linked"><a href="https://www.linkedin.com/in/eddiewaked"></a></li>
                        <li class=""><a href="https://github.com/ebwaked"><img src="~/Content/gitGrey.png"/></a></li>
                 </ul>
                </div><!-- span6 -->
                <div class="span4">
                    <address>
                        1801 Glen Ridge Dr.<br>
                        Kernersville, NC 27284<br>
                        <abbr title="Phone">P:</abbr> (336) 414-3716<br>
                        <abbr title="Email">E:</abbr> <a href="ebwaked87@gmail.com">ebwaked87@gmail.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="http://ewaked-resume.azurewebsites.net">ewaked-resume.azurewebsites.net</a><br>
                    </address>
                </div><!-- span4 -->
            </div><!-- row-fluid -->
        </div> <!-- hero-unit -->
    </div><!-- container -->
</div><!-- hero -->

<div id="bg">
    <img src="" alt="">
</div>

   