@{
    ViewBag.Title = "Edward Waked" ;
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- This will display when the page is viewed on a mobile device -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand me-name" href="#top">Edward Waked</a><!-- This text displays when the screen has been scrolled -->
            <div class="nav-collapse collapse pull-right navigation">
                <ul class="nav">
                    <li class="active first"><a href="#keypoints">Keypoints</a></li>
                    <li><a href="#experience">Work Experience</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </div><!-- nav-collapse -->

        </div><!-- container -->
    </div><!-- navbar-inner -->
</div><!-- navbar -->
<!--
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::: Hero information, where it displays profile picture and personal information
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->
<div class="hero">
    <div class="container">
        <div class="hero-unit me-details">
            <div class="row-fluid">
                <div class="span2">
                    <div class="avatar">
                        <img width="130" height="128" src="~/Content/person.jpg" alt="my resume photo" />
                    </div>
                </div><!-- span2 -->
                <div class="span6">
                    <h1>Edward Waked</h1>
                    <h2>Experienced Front End Web Developer</h2>
                    <ul class="social">
                        <li class="linked"><a href="https://www.linkedin.com/in/eddiewaked"></a></li>
                        <li class="github"><a href="https://github.com/ebwaked"></a></li>
                    </ul>
                </div><!-- span6 -->
                <div class="span4">
                    <address>
                        1801 Glen Ridge Dr.<br>
                        Kernersville, NC 27284<br>
                        <abbr title="Phone">P:</abbr> (336) 414-3716<br>
                        <abbr title="Email">E:</abbr> <a href="ebwaked87@gmail.com">ebwaked87@gmail.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="http://ewaked-resume.azurewebsites.net">http://ewaked-resume.azurewebsites.net</a><br>
                    </address>
                </div><!-- span4 -->
            </div><!-- row-fluid -->
        </div> <!-- hero-unit -->
    </div><!-- container -->
</div><!-- hero -->

<div class="container">
    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Keypoints
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="keypoints" class="division"></a><h2>Keypoints</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>What I am known for</h3>
            </div><!-- span4 -->
            <div class="span8">
                <ul>
                    <li>Driven by an insatiable internal force I, yearn to explore a wide variety of subject matters.</li>
                    <li>Known somewhat as a renaissance man I pride myself in being great in any endever I set my mind to.</li>
                    <li>One of my hobbies is writing music. Playing guitar and piano allows me to express myself and relieve stress.</li>
                    <li>I also enjoy the outdoors where camping and hiking are my favorite activities.</li>
                    <li>I was an active member in scouting from age 6 till age 18 and became an Eagle Scout in 2006.</li>
                </ul>
            </div><!-- span8 -->
        </div><!-- row -->
    </section>

    <hr>

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Work experience
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="experience" class="division"></a><h2>Work experience</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>Financial Service Representative<br/>MetLife Premier Client Group</h3>
                <h4>Greensboro, NC</h4>
                <h5>2012-2015</h5>
            </div><!-- span4 -->
            <div class="span8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
                </ul>
            </div><!-- span8 -->
        </div><!-- row -->

        <div class="row">
            <div class="span4">
                <h3>Manager <br/> Citgo</h3>
                <h4>Winston-Salem,NC</h4>
                <h5>2012</h5>
            </div><!-- span4 -->
            <div class="span8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
                </ul>
            </div><!-- span8 -->
        </div><!-- row -->

        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="experience" class="division"></a><h2>Work experience</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>Assistant Manager <br/>Neomonde's Bakery</h3>
                <h4>Raleigh, NC</h4>
                <h5>2010-2012</h5>
            </div><!-- span4 -->
            <div class="span8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
                </ul>
            </div><!-- span8 -->
        </div><!-- row -->
    </section>

    

    <hr>

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Portfolio
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="portfolio" class="division"></a><h2>Portfolio</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>Some title of the project</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul class="thumbnails thumbnails-portfolio">
                        <li class="span6">
                            <a href="images/wallpaper-artistic-art.jpg" class="thumbnail">
                                <img src="~/Content/thumb_353x237.jpg" width="353" height="237" alt="portfolio">
                                <div class="hover"></div>
                                <div class="info">
                                    <h5>Title of the project</h5>
                                    <p>September 2012 - November 2012</p>
                                </div>
                            </a>
                            <div class="page">
                                <!-- This is the content that comes on the lightbox -->
                                <img src="~/Content/img.jpg" alt="portfolio">
                            </div>
                        </li><!-- li span8 -->
                        <li class="span6">
                            <p>You can add a description of the project. How have you been in involved in the project, and you can also add a <a href="#">link</a> for more information.</p>
                            <ul>
                                <li>You can link the picture to a large picture of it.</li>
                                <li>You can add some text on it.</li>
                            </ul>
                        </li><!-- li span6 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span8 -->

            <div class="span4">
                <h3>Some title of the project</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul class="thumbnails thumbnails-portfolio">
                        <li class="span4">
                            <a href="#" class="thumbnail">
                                <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                                <div class="hover"></div>
                                <div class="info">
                                    <h5>Title of the project</h5>
                                    <p>Some text here</p>
                                </div>
                            </a>
                            <div class="page">
                                <!-- This is the content that comes on the lightbox -->
                                <img src="~/Content/img.jpg" alt="portfolio">
                                <div class="txt">
                                    <p>At vero eos et accusamus et iusto odio.</p>
                                </div>
                            </div>
                        </li><!-- li span4 -->

                        <li class="span4">
                            <a href="#" class="thumbnail">
                                <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                                <div class="hover"></div>
                                <div class="info">
                                    <h5>Title of the project</h5>
                                    <p>Some text here</p>
                                </div>
                            </a>
                            <div class="page">
                                <!-- This is the content that comes on the lightbox -->
                                <img src="~/Content/img.jpg" alt="portfolio">
                                <div class="txt">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                </div>
                            </div><!-- page -->
                        </li><!-- li span4 -->

                        <li class="span4">
                            <a href="#" class="thumbnail">
                                <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                                <div class="hover"></div>
                                <div class="info">
                                    <h5>Title of the project</h5>
                                    <p>Some text here</p>
                                </div>
                            </a>
                            <div class="page">
                                <!-- This is the content that comes on the lightbox -->
                                <img src="~/Content/img.jpg" alt="portfolio">
                                <div class="txt">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                </div>
                            </div><!-- page -->
                        </li><!-- li span4 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span8 -->
        </div><!-- row -->
    </section>

    <hr>

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Education
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="education" class="division"></a><h2>Education</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>Ba. in Computer Science</h3>
                <h4>Temporibus University</h4>
                <h5>2003 - 2006</h5>
            </div><!-- span4 -->
            <div class="span8">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
            </div><!-- span8 -->
        </div><!-- row -->

        <div class="row">
            <div class="span4">
                <h3>Autem quibusdam</h3>
                <h4>Something School</h4>
                <h5>2000 - 2003</h5>
            </div><!-- span4 -->
            <div class="span8">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            </div><!-- span8 -->
        </div><!-- row -->

    </section>

    <hr>

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Technical Skills
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="skills" class="division"></a><h2>Technical Skills</h2>
            </div><!-- span8 -->

            <div class="span4">
                <h3>HTML</h3>
            </div>
            <div class="span8">
                <div class="progress">
                    <div class="bar bg-color" style="width: 90%;"></div>
                </div>
            </div><!-- span8 -->

            <div class="span4">
                <h3>CSS</h3>
            </div>
            <div class="span8">
                <div class="progress">
                    <div class="bar bg-color" style="width: 80%;"></div>
                </div>
            </div><!-- span8 -->

            <div class="span4">
                <h3>jQuery</h3>
            </div>
            <div class="span8">
                <div class="progress">
                    <div class="bar bg-color" style="width: 70%;"></div>
                </div>
            </div><!-- span8 -->
        </div><!-- row -->
    </section>

    <hr>

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Contact me
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
                <a name="contact" class="division"></a>
                <h2>Contact me</h2>
            </div>
            <div class="span4">
                <h3>Nemo enim ipsam voluptatem quia</h3>
            </div>
            <div class="span8">
                <div class="row contact">
                    <div class="span4">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <address>
                            6/7 Somewhere<br>
                            777 Heaven St, NSW 2342<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                            <abbr title="Email">E:</abbr> <a href="mailto:mail@website.com">mail@website.com</a><br>
                            <abbr title="Website">W:</abbr> <a href="http://www.website.com">www.website.com</a><br>
                        </address>
                    </div><!-- span4 -->
                    <div class="span4">
                        <form class="form" id="ajax-contact-form" action="sendmail.php">
                            <input type="text" name="name" class="span4" placeholder="Name" required="">
                            <input type="text" class="span4" name="email" placeholder="Email" required="">
                            <textarea name="message" placeholder="Message" rows="8" class="span4"></textarea>
                            <button type="submit" class="btn btn-submit bg-color">SUBMIT</button><div class="loading"></div>
                        </form>
                        <div class="results"></div>
                    </div><!-- span4 -->
                </div><!-- contact -->
            </div><!-- span8 -->
        </div><!-- row -->

    </section>

</div>    

   