@{
    ViewBag.Title = "Edward Waked" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Keypoints
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="keypoints" class="division"></a><h2>Keypoints</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>What I am known for</h3>
        </div><!-- span4 -->
        <div class="span8">
            <ul>
                <li>Driven by an insatiable internal force I, yearn to explore a wide variety of subject matters.</li>
                <li>Known somewhat as a renaissance man I pride myself in being great in any endever I set my mind to.</li>
                <li>One of my hobbies is writing music. Playing guitar and piano allows me to express myself and relieve stress.</li>
                <li>I also enjoy the outdoors where camping and hiking are my favorite activities.</li>
                <li>I was an active member in scouting from age 6 till age 18 and became an Eagle Scout in 2006.</li>
            </ul>
        </div><!-- span8 -->
    </div><!-- row -->
</section>

<hr>

   