@{
    ViewBag.Title = "Portfolio";
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Portfolio
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->







@*<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="portfolio" class="division"></a>
            <h2>Portfolio</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>JavaScript Exercises</h3>
        </div><!-- span4 -->
        <div class="span8">
            <div class="row-fluid">
          
                   
                        
                  <a href="~/Views/Home/JavascriptExercises.cshtml"><img src="/images/javascript.png"/></a>
                    @*<a href="/Views/Home/JavascriptExercises.cshtml">
                            <img src="/images/javascript.png" width="353" height="237" alt="portfolio">
                            <div class="hover"></div>
                            <div class="info">
                                <h5>JavaScript Exercises</h5>
                                <p>January 2015</p>
                            </div>
                            </a>
                        <div class="page">
                             This is the content that comes on the lightbox
                            <a href="/Views/Home/JavascriptExercises.cshtml">
                            </a>
                        </div>
                   
                   
                        <p>These JavaScript exercises worked on our ability to complete mathematically based 
                        challenges to enhance our understanding of JavaScript while using modals 
                        to establish a better functioning site.</p>

                   
        
            </div><!-- row-fluid -->
        </div><!-- span8 -->
    </div><!-- row -->
</section>*@




<section>
        <div class="row">
            <div class="span4"></div><!-- Keep this div empty to align -->
            <div class="span8">
            <h2>Portfolio</h2>
            </div><!-- span8 -->
            <div class="span4">
                <h3>JavaScript Exercises</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul>
                        <li class="span6">
                           @Html.ActionLink("JavascriptExercises", "JavascriptExercises")
                        </li><!-- li span6 -->
                        <li class="span6">
                            <p>These JavaScript exercises worked on our ability to complete mathematically 
                            based challenges to enhance our understanding of JavaScript while using modals 
                            to establish a better functioning site.</p>
                        </li><!-- li span6 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span8 -->
    <br />
            <div class="span4">
                <h3>The Bug Boss</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul>
                        <li class="span6">
                            <a href="http://ewaked-bugBoss.azurewebsites.net">The Bug Boss</a>
                        </li><!-- li span6 -->
                        <li class="span6">
                            <p>The Bug Boss is an error tracking software used to help manage problems associated with resolving multiple problems for multiple teams and monitoring their progress simultaneously</p>
                        </li><!-- li span6 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span6 -->
    <br />
            <div class="span4">
                <h3>The Car Boss</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul>
                        <li class="span6">
                            <a href="http://ewaked-carBoss.azurewebsites.net">The Car Boss</a>
                        </li><!-- li span8 -->
                        <li class="span6">
                            <p>
                                The Car Boss is an application with the ability to find and sort through all cars in an associated database and view specific details related to these cars such as engine size.
                                The NHTSA's WebAPI is also used to view associated recall data if available for the car. 
                            </p>
                        </li><!-- li span6 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span8 -->
    <br />
            <div class="span4">
                <h3>The Budget Boss</h3>
            </div><!-- span4 -->
            <div class="span8">
                <div class="row-fluid">
                    <ul>
                        <li class="span6">
                            <a href="http://ewaked-budgetBoss.azurewebsites.net">The Budget Boss</a>
                        </li><!-- li span8 -->
                        <li class="span6">
                            <p>
                                The Budget Boss is a software used to view transactions for your household accounts and manage a budget for your household.
                            </p>
                        </li><!-- li span6 -->
                    </ul>
                </div><!-- row-fluid -->
            </div><!-- span8 -->
    <br />
        </div><!-- row -->
    </section>
