@{
    ViewBag.Title = "Portfolio" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Portfolio
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
<section>
    <div class="row">
        <div class="span4"></div><!-- Keep this div empty to align -->
        <div class="span8">
            <a name="portfolio" class="division"></a><h2>Portfolio</h2>
        </div><!-- span8 -->
        <div class="span4">
            <h3>Some title of the project</h3>
        </div><!-- span4 -->
        <div class="span8">
            <div class="row-fluid">
                <ul class="thumbnails thumbnails-portfolio">
                    <li class="span6">
                        <a href="images/wallpaper-artistic-art.jpg" class="thumbnail">
                            <img src="~/Content/thumb_353x237.jpg" width="353" height="237" alt="portfolio">
                            <div class="hover"></div>
                            <div class="info">
                                <h5>Title of the project</h5>
                                <p>September 2012 - November 2012</p>
                            </div>
                        </a>
                        <div class="page">
                            <!-- This is the content that comes on the lightbox -->
                            <img src="~/Content/img.jpg" alt="portfolio">
                        </div>
                    </li><!-- li span8 -->
                    <li class="span6">
                        <p>You can add a description of the project. How have you been in involved in the project, and you can also add a <a href="#">link</a> for more information.</p>
                        <ul>
                            <li>You can link the picture to a large picture of it.</li>
                            <li>You can add some text on it.</li>
                        </ul>
                    </li><!-- li span6 -->
                </ul>
            </div><!-- row-fluid -->
        </div><!-- span8 -->

        <div class="span4">
            <h3>Some title of the project</h3>
        </div><!-- span4 -->
        <div class="span8">
            <div class="row-fluid">
                <ul class="thumbnails thumbnails-portfolio">
                    <li class="span4">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                            <div class="hover"></div>
                            <div class="info">
                                <h5>Title of the project</h5>
                                <p>Some text here</p>
                            </div>
                        </a>
                        <div class="page">
                            <!-- This is the content that comes on the lightbox -->
                            <img src="~/Content/img.jpg" alt="portfolio">
                            <div class="txt">
                                <p>At vero eos et accusamus et iusto odio.</p>
                            </div>
                        </div>
                    </li><!-- li span4 -->

                    <li class="span4">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                            <div class="hover"></div>
                            <div class="info">
                                <h5>Title of the project</h5>
                                <p>Some text here</p>
                            </div>
                        </a>
                        <div class="page">
                            <!-- This is the content that comes on the lightbox -->
                            <img src="~/Content/img.jpg" alt="portfolio">
                            <div class="txt">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                            </div>
                        </div><!-- page -->
                    </li><!-- li span4 -->

                    <li class="span4">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/thumb_220x237.jpg" width="220" height="237" alt="portfolio">
                            <div class="hover"></div>
                            <div class="info">
                                <h5>Title of the project</h5>
                                <p>Some text here</p>
                            </div>
                        </a>
                        <div class="page">
                            <!-- This is the content that comes on the lightbox -->
                            <img src="~/Content/img.jpg" alt="portfolio">
                            <div class="txt">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                            </div>
                        </div><!-- page -->
                    </li><!-- li span4 -->
                </ul>
            </div><!-- row-fluid -->
        </div><!-- span8 -->
    </div><!-- row -->
</section>

<hr>