@{
    ViewBag.Title = "Skills" ;
}


<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Technical Skills
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->

    <div class="row animated fadeInDownBig">   
        <div class="span4"></div>

        <div class="span12">
            <a name="skills" class="division"></a><h2>Technical Skills</h2>
        </div>                

        <div class="span4">
            <h3>HTML</h3><i class="fa fa-html5 fa-5x"></i>
        </div>

        <div class="span4">
            <h3>CSS</h3><i class="fa fa-css3 fa-5x"></i> 
        </div>

        <div class="span4">
            <h3>jQuery</h3><i class="fa fa-jsfiddle fa-5x"></i>
        </div>

        <div class="span4">
            <h3>GitHub</h3><i class="fa fa-github fa-5x"></i>
        </div>

        <div class="span4">
            <h3>SQL Databases</h3><i class="fa fa-database fa-5x"></i>
        </div>

        <div class="span4">
            <h3>C#</h3>
            <img src="~/images/csharp-logo.png" style="width:60px;height:70px" />
        </div>

        <div class="span4">
            <h3>JavaScript</h3>
            <img src="~/images/javascript.png" style="width:60px;height:70px" />
        </div>
    
        <div class="span4">
            <h3>Bootstrap</h3>
            <img src="~/images/bootstrap.jpeg" style="width:60px;height:70px" />
        </div>

        <div class="span4">
            <h3>AngularJS</h3>
            <img src="~/images/angularjs.png" style="width:60px;height:70px" />
        </div>

        <div class="span4">
           
        </div>

        <div class="span4">
            
        </div>

        <div class="span4">
           
        </div>

        <div class="span4">
           
        </div>
        <div class="span4">
            
        </div>

        <div class="span4">
            
        </div>
        <div class="span8">
           
        </div><!-- span8 -->

        <div class="span4">
            
        </div>
        <div class="span8">
            
        </div><!-- span8 -->

        <div class="span4">
            
        </div>
        <div class="span8">
           
        </div><!-- span8 -->

        <div class="span4">
            
        </div>
        <div class="span8">
            
        </div><!-- span8 -->

        <div class="span4">
            
        </div>
        <div class="span8">
          
        </div><!-- span8 -->

    </div><!-- row -->

