<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Car Boss</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1>The Car Boss</h1>
            </div>
        </div>
        <div ng-app="carBossApp" ng-cloak>
            <div ng-controller="CarsController as cars">
                <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <select ng-model="cars.selectedYear" ng-options="y for y in cars.years" ng-change="cars.getMakes()"></select>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <select ng-model="cars.selectedMake" ng-options="m for m in cars.makes" ng-change="cars.getModels()"></select>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <select ng-model="cars.selectedModel" ng-options="md for md in cars.models" ng-change="cars.getTrims()"></select>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <select ng-model="cars.selectedTrim" ng-options="t for t in cars.trims" ng-change="cars.getCars()"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
                    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                        <table>
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Trim</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in cars.cars">
                                    <td>{{c.year}}</td>
                                    <td>{{c.make}}</td>
                                    <td>{{c.model}}</td>
                                    <td>{{c.trim}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- ANGULAR AND JQUERY -->
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <!--APP -->
    <script src="MyApps/app.js"></script>

    <!-- SERVICES -->
    <script src="MyApps/Services/carSvc.js"></script>

    <!-- CONTRLLERS -->
    <script src="MyApps/Controllers/carsController.js"></script>
    <!-- DIRECTIVES -->

    <!-- FILTERS -->

</body>
</html>
