    <div id="container">

        <!--Begin About Section-->
        <div id="about">
            <h1>About</h1>
            <ul id="top-social">
                <li><a href="https://www.linkedin.com/in/eddiewaked" "class="linkedin">LinkedIn</a></li>
            </ul>
            <div class="top-divider"></div>
            <div class="content">
                <img src="images/designer-photo.jpg" height="310" width="310" />
                <h2>I am Edward Waked, but you can call me Eddie</h2>
                <p style="font-size: 18px">
                    Driven by an insatiable internal force I, yearn to explore a wide variety of subject matters. Known somewhat as a renaissance man I pride myself in being great in any endever I set my mind to.
                    I am currently apart of the the first cohort of 2015 at Coder Foundry. The Coder Foundry has been a major part in my process to further my education; something which I believe is intergral to being
                    successful in my career. One of my hobbies is writing music. Playing guitar and piano allows me to express myself and relieve stress. I also enjoy the outdoors where camping and hiking are my 
                    favorite activities. This stems from from my background in scouting. I was an active member in scouting from age 6 till age 18 and became an Eagle Scout in 2006.
                </p>
                <ul id="service-icons">
                    <li><img src="images/earth.png" alt="Hiking" height="90" width="100"></li>
                    <li><img src="images/piano.png" alt="Piano" height="90" width="100"></li>
                    <li><img src="images/guitar.png" alt="Guitar" height="90" width="100"></li>
                    <li><img src="images/phone.png" alt="Phone" height="90" width="100"></li>
                </ul>
            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End About Section-->
        <!--Begin Experience Section-->
        <div id="experience">
            <h1>Experience</h1>
            <div class="top-divider"></div>
            <div class="content">
                <div class="col">
                    <h2>The Beginning</h2>
                    <p>
                        I started college at UNC-Pembroke. I was a student athlete there for 2 years and I am very proud to have been apart of their innaugural football team. I decided to transfer to NC State where
                        I pursued a BS in Biology with a concentration in Plant Biology. After NC State I became a financial Service Representative for MetLife Premier Client Group in Greensboro. I was a junior parntner in the
                        agency but after spending 2 and a half years in the financial services industry I wanted to pursue what my real passion and hobby was; web developement.
                    </p>
                </div>

                <div class="col col-mid">
                    <h2>Why now?</h2>
                    <p>
                        There are a few reasons why I left a potential career in financial services. I had a knack for understanding concepts and learning to implement good business habits into my practice, yet despite the
                        designations and licences obtained during my time in the industry I never felt truly happy. While I enjoyed it at the time and have no regrets taking that path early on, I believe it allowed me the vision
                        to pursue what I truly enjoy.
                        <p><h2><strong>RESUME</strong></h2>
                            <li><a href="images/cv pdf.pdf" title="Resume"><img src="images/snowboard.jpg" width="150" height="150"></a></li>
                        </p>
                    </p>
                </div>

                <div class="col">
                    <h2>How I will Benefit YOU</h2>
                    <p>
                        The fast past enviroment at Coder Foundry pushes me to the limit of what I can do and sets the bar high with the amount of information learned in a short period of time. I learned how to
                        look at a problem, break it down into managable problems and implement those solutions with clean, clear and maintainable code. Over the course of this class we will learn a variety of
                        different things which includes: MVC, AngularJS, HTML, CSS, Bootstrap, JavaScript, JQuery, C#, SQL, Web API, MicroORM's, and InsightDB.
                    </p>
                </div>
            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End Experience Section-->
        <!--Begin Work Section-->
        <div id="work">
            <h1>Work</h1>
            <div class="top-divider"></div>
            <div class="content">
                <ul id="work-thumbs">
                    <li><a href="Bootstrap/Bootstrap/index.html" title="Bootstrap Project"><img src="images/bootstrap.jpg" width="200" height="200"></a></li>
                    <li><a href="JS and JQuery Project/JS and JQuery Project/index.html" title="Javascript and JQuery Project"><img src="images/jsjq.jpg" width="200" height="200"></a></li>
               <!--           Thumbnails set up ready to be sourced with proper file, if not others can be set up    -->
                     <!--    <li><a href="Choose your own Adventure/Choose your own Adventure/index.html" title="Choose your own Adventure"><img src="images/circles.jpg" width="200" height="200"></a></li>-->
                 <!--   <li><a href="images/elephant.jpg" title="Image Description"><img src="images/elephant.jpg" width="200" height="200"></a></li>-->
                <!--    <li><a href="images/ferrisWheel.jpg" title="Image Description"><img src="images/ferrisWheel.jpg" width="200" height="200"></a></li>-->
               <!--     <li><a href="images/nightSky.jpg" title="Image Description"><img src="images/nightSky.jpg" width="200" height="200"></a></li>-->
              <!--      <li><a href="images/palmTree.jpg" title="Image Description"><img src="images/palmTree.jpg" width="200" height="200"></a></li>-->
                <!--    <li><a href="images/mountain.jpg" title="Image Description"><img src="images/mountain.jpg" width="200" height="200"></a></li>-->
                  <!--  <li><a href="images/abstract1.jpg" title="Image Description"><img src="images/abstract1.jpg" width="200" height="200"></a></li>       -->
               </ul>
            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End Work Section-->
   <!--Begin Connect Section-->
     <!--     <div id="connect">
            <h1>Connect</h1>
            <div class="top-divider"></div>
            <div class="content">
                <div id="form">
                    <form action="#">
                        <span>Name</span>
                        <input type="text" name="name" class="name" />
                        <span>Email</span>
                        <input type="text" name="email" class="email" />
                        <span>Message</span>
                        <textarea class="message"></textarea>
                        <input type="submit" name="submite" value="Submit" class="submit">
                    </form>
                </div>
                <div id="social-footer">
                    <h2>Follow Me:</h2>
                    <p>Thank you for taking the time to read through this. Send me a message or add me on your choice of social networks. </p>
                    <ul id="sm-links">
                        <li><a href="https://www.facebook.com/eddie.waked.5" class="facebook">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/eddiewaked" class="linkedin">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!--End Connect Section-->    

    </div>

    